In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
passenger_id = list(test_df['PassengerId'])

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test_df['Fare'].fillna(80,inplace=True)

In [5]:
test_df[test_df['Fare'].isnull() == True]

Empty DataFrame
Columns: [PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [6]:
train_df = train_df.drop(['PassengerId','Name','Ticket'],axis=1)
test_df = test_df.drop(['PassengerId','Name','Ticket'],axis=1)

In [7]:
train_df = train_df.drop(['Cabin','Embarked'],axis=1)
test_df = test_df.drop(['Cabin','Embarked'],axis=1)

In [8]:
train_df['Family'] = train_df['SibSp'] + train_df['Parch']
test_df['Family'] = test_df['SibSp'] + test_df['Parch']

In [9]:
train_df.drop(['SibSp','Parch'],axis=1,inplace=True)
test_df.drop(['SibSp','Parch'],axis=1,inplace=True)

In [10]:
test_df.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       0
Family     0
dtype: int64

In [11]:
train_df['Fare']=train_df['Fare'].apply(lambda num : round(num))
test_df['Fare']=test_df['Fare'].apply(lambda num : round(num))

In [12]:
# def rating(num):
#     if num>300:
#         return 14
#     elif 200<=num<=300:
#         return 13
#     elif 150<=num<=200:
#         return 12
#     elif 100<=num<=150:
#         return 11
#     elif num>=90:
#         return 10
#     elif num>=80:
#         return 9
#     elif num>=70:
#         return 8
#     elif num>=60:
#         return 7
#     elif num>=50:
#         return 6
#     elif num>=40:
#         return 5
#     elif num>30:
#         return 4
#     elif num>=20:
#         return 3
#     elif num>=10:
#         return 2
#     else:
#         return 1

In [13]:
# train_df['Fare'] = train_df['Fare'].apply(rating)
# test_df['Fare'] = test_df['Fare'].apply(rating)

In [14]:
train_df.sample(10)

     Survived  Pclass     Sex   Age  Fare  Family
292         0       2    male  36.0    13       0
493         0       1    male  71.0    50       0
889         1       1    male  26.0    30       0
501         0       3  female  21.0     8       0
885         0       3  female  39.0    29       5
318         1       1  female  31.0   165       2
698         0       1    male  49.0   111       2
715         0       3    male  19.0     8       0
18          0       3  female  31.0    18       1
658         0       2    male  23.0    13       0

In [15]:
(train_df['Age'].append(test_df['Age'])).mean()

29.881137667304014

In [16]:
train_df['Age'].fillna(30,inplace=True)
test_df['Age'].fillna(30,inplace=True)

In [17]:
train_df.head()

   Survived  Pclass     Sex   Age  Fare  Family
0         0       3    male  22.0     7       1
1         1       1  female  38.0    71       1
2         1       3  female  26.0     8       0
3         1       1  female  35.0    53       1
4         0       3    male  35.0     8       0

In [18]:
test_df.head()

   Pclass     Sex   Age  Fare  Family
0       3    male  34.5     8       0
1       3  female  47.0     7       1
2       2    male  62.0    10       0
3       3    male  27.0     9       0
4       3  female  22.0    12       2

In [19]:
train_df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Family      0
dtype: int64

In [20]:
test_df.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
Family    0
dtype: int64

In [21]:
def gender(gender):
    if gender == 'male':
        return 0
    else:
        return 1

In [22]:
train_df['Sex'] = train_df['Sex'].apply(gender)

In [23]:
test_df['Sex'] = test_df['Sex'].apply(gender)

In [24]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   Fare      891 non-null    int64
 5   Family    891 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 41.9 KB

In [25]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   Fare    418 non-null    int64
 4   Family  418 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 16.5 KB

In [26]:
# X=train_df.drop('Survived',axis=1)
# y=train_df['Survived']
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# X = scaler.fit_transform(X)
# test_df_ = scaler.transform(test_df)
# from sklearn.linear_model import LogisticRegressionCV
# log_model = LogisticRegressionCV()
# log_model.fit(X,y)
# test_predictions = log_model.predict(test_df_)
# output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': test_predictions})
# log_model.predict_proba(test_df_)
# test_predictions

In [27]:
# from sklearn.model_selection import train_test_split,GridSearchCV
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression,LogisticRegressionCV
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.pipeline import Pipeline

# X=train_df.drop('Survived',axis=1)
# y=train_df['Survived']
# scaler = StandardScaler()
# log_model = LogisticRegressionCV()
# knn_model = KNeighborsClassifier()
# operations = [('scaler',scaler),('knn_model',knn_model)]
# pipe = Pipeline(operations)
# paramgrid = {
#     'knn_model__n_neighbors' : list(range(1,30)),
# }
# grid = GridSearchCV(estimator=pipe,param_grid=paramgrid,cv=5,scoring='accuracy')
# grid.fit(X,y)
# test_mean = grid.cv_results_['mean_test_score']
# plt.plot(range(1,30),test_mean,marker='.',markeredgewidth=4)
# plt.xlabel('K')
# plt.ylabel('Accuracy')
# plt.show()

In [28]:
# X=train_df.drop('Survived',axis=1)
# y=train_df['Survived']

# import warnings
# warnings.filterwarnings('ignore')
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# scaled_X_train = scaler.fit_transform(X)
# scaled_X_test = scaler.transform(test_df)

# from sklearn.svm import SVC
# model_svc = SVC()

# from sklearn.model_selection import GridSearchCV 
# param_grid ={
#     'C':[0.001,0.01,0.1,0.5,0.8,1.0],
#     'kernel':['linear','rbf','poly','sigmoid'],
#     'gamma':['auto','scale'],
#     'degree':[2,3,4],
# }
# grid = GridSearchCV(model_svc,param_grid,cv=5,scoring='accuracy')
# grid.fit(scaled_X_train,y)
# grid.best_params_

In [30]:
# from sklearn.tree import DecisionTreeClassifier
# model_dt = DecisionTreeClassifier()
# model_dt.fit(scaled_X_train,y_train)
# tp = model_dt.predict(scaled_X_test)

In [50]:
X=train_df.drop('Survived',axis=1)
y=train_df['Survived']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X=scaler.fit_transform(X)
scaled_X_train = scaler.fit_transform(X_train)
scaled_X_test = scaler.transform(X_test)
scaled_X_test_original = scaler.transform(test_df)

In [73]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier,StackingClassifier

In [74]:
estimators = [('dt', DecisionTreeClassifier(criterion="gini", max_depth=2)),('gb1',GradientBoostingClassifier(max_depth=2))]
stc = StackingClassifier(estimators=estimators, final_estimator=GradientBoostingClassifier())
stc.fit(X,y)

StackingClassifier(estimators=[('dt', DecisionTreeClassifier(max_depth=2)),
                               ('gb1',
                                GradientBoostingClassifier(max_depth=2))],
                   final_estimator=GradientBoostingClassifier())

In [75]:
test_predictions = stc.predict(scaled_X_test_original)

In [76]:
output = pd.DataFrame({'PassengerId': passenger_id, 'Survived': test_predictions})

In [77]:
output.to_csv('submmsion_stc_.csv',index=False)